.switchWrapper {
  position: relative;

  > :first-child ~ * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
.route-wrapper {
  position: relative;
}

.route-wrapper > div {
  position: absolute;
}
